html{
	height: 100%
}
body{
	font-size: 25px;
	font-family: 'Iceland', cursive;
	background: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("assets/background2.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
  /*background-attachment: fixed;*/
  	background-size: cover;
}
/*
.resultItem{
	display: none;
}
*/
header{
	font-family: 'La Belle Aurore', cursive;
	font-size: 20px;
}
.listItemName{
	font-family: 'La Belle Aurore', cursive;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.listButton{
	border: none;
	background: none;
	font-size: 25px;
	font-family: 'Iceland', cursive;
	width: 100%;
}
.googleLink{
	font-family: 'Abel', sans-serif;
	color: rgb(63,63,63);
}
#map{
	width:100%;
	height: 500px;
}
.center{
  text-align: center;
  vertical-align: middle;
}
.userInput{
	width:50%;
	min-width: 10%;
	min-height: 3vh;
}
.submitButton{
	min-width: 15%;
	min-height: 3vh;
	font-size: 25px;
	background: none;
	font-family: 'Abel', sans-serif;
	border: 1px solid black;
	color: rgb(63,63,63);
}
.submitButton:hover{
	cursor: pointer;
	background: black;
	color: white;
}
.centerList {
  	text-align: center;
  	list-style-type: none;
}

.headerImg{
	width: 30%;
	height: 30%;
}
ol{
	margin:0;
 	padding:0;
 	width: 100%;
}
ol li{
	border-bottom: 1px solid black;
}
ol li .listButton:hover{
	cursor: pointer;
	border: 1px solid black;
	background-color:rgba(255, 255, 255, 0.8);
}
@media only screen and (min-width: 640px){
	ol{
		margin: 0;
		margin-right: auto;
		margin-left: auto;
		width:50%;
	}

	body{
		background-position: 50% 20%;
	}

}