html{
	height: 100%
}
body{
	font-size: 25px;
	font-family: 'Iceland', cursive;
	background: url("assets/image1.jpeg");
}
/*
.resultItem{
	display: none;
}
*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display:none;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#map{
	width:100%;
	height: 500px;
}
.center{
  text-align: center;
  vertical-align: middle;
}
.userInput{
	width:50%;
	min-width: 10%;
	min-height: 3vh;
}
.submitButton{
	min-width: 15%;
	min-height: 3vh;
	font-size: 25px;
	background: none;
	font-family: 'Iceland', cursive;
	border: 1px solid black;
}
.submitButton:hover{
	cursor: pointer;
	background: black;
	color: white;
}
.centerList {
  text-align: center;
  list-style-type: none;
}
ol{
	margin:0;
	margin-right: auto;
	margin-left: auto;
 	padding:0;
 	width:50%;
}
ol li{
	border-bottom: 1px solid black;
}
ol li:hover{
	cursor: pointer;
	border: 1px solid black;
}
@media only screen and (max-width: 640px){
	ol{
		margin: 0;
		width: 100%;
	}

}